<!DOCTYPE html>
<html>
  <head>
    <title>Methinks it is a Weasel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  </head>
  <body>
    <div class="page_content">
      <form method="POST">
        <label>Add a target string in CAPS (try: METHINKS IT IS LIKE A WEASEL)</label>
        <input name="target">
        <input type="submit">
      </form>

      {% if output %}
        <div class="output_wrapper">
          {{ output|safe }}
          <p>Index: {{ index }}</p>
        </div>
      {% endif %}
    </div>
  </body>
</html>
